<!--The content below is only a placeholder and can be replaced.-->

<!--Main container-->
<div class="container">
    <div class="group">
        <label for="">Firstname</label>
        <input type="text" [(ngModel)]="firstName" #fname>
    </div>
    <div class="group">
        <label for="">Lastname</label>
        <input type="text" [(ngModel)]="lastName" #lname>
    </div>
    <button (click)="SubmitFunc(fname.value,lname.value)">Submit</button>
    <app-child [title]="title"></app-child>
</div>
<!--End-->
